/* Custom CSS for Faith Page */
body {
    background-color: #1f1f24; /* Dark blue background */
    font-family: Arial, sans-serif;
    color: #fff; /* White text */
    text-align: center; /* Center all text */
    margin: 0;
    padding: 0;
  }
  
  .container_faith {
    max-width: 1200px; /* Limit container width */
    padding: 120px 20px 20px;
    margin: 0 auto; /* Center the container */
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  
  .bordered-text {
    border: 3px solid #000000; /* Set the initial border color */
    padding: 10px; /* Add padding to create space between the text and the border */
    border-radius: 5px; /* Optional: Adds rounded corners */
    display: inline-block; /* Ensures the border fits around the word */
  }
  
  .btn-primary {
    background-color: #f6f3e2; /* Custom background color */
    color: #446fc9;
    border: none; /* Remove border */
    margin-top: -40px;
    margin-bottom: 30px;
  }


  .man p {
    margin-bottom: 8px; /* Adjust this value to reduce the space between paragraphs */
    line-height: 1.4; /* Optionally adjust the line height */
  }



  /* Add padding for smaller screens */
  @media (max-width: 768px) {
    h1 {
      font-size: 36px;
    }
  
    h3 {
      font-size: 24px;
    }
  
    p {
      font-size: 16px;
    }
  }
  